<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row " [ngClass]="{'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }" >
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="5"
               #nombre="ngModel">

               <div *ngIf="nombre.errors?.required" class="invalid-feedback" >
                 Este campo es obligatorio
               </div>
               <div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
                 Tamaño mínimo erroneo --> {{nombre.errors.minlength.requiredLength}} 
                </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               placeholder="Apellido"
               required
               #apellido>

          <div *ngIf="apellido.errors?.required" >
            Este campo es obligatorio
          </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             name="email"
             [(ngModel)]="usuario.email"
             placeholder="Correo electrónico"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email>

      <div *ngIf="email.errors?.required" >
        Este campo es obligatorio
      </div>
      <div *ngIf="email.errors?.pattern" >
        No es un email valido
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
